# classes

group our data and function in a way that is easy to reuse and build upon

data and functions assosiated with specific class are atributes and methods

instances class are the sth that the class is assigned to them

Dot notation allows you to access and assign values to attributes of an object.

In [1]:
class facebook:
    pass

user_1= facebook()
user_2=facebook()


user_1.first="Abdelrahman"
user_1.last="Abdelwahab"
user_1.email="Abdelrahman.abdelwahab@gmail.com"

print(user_1.last)

Abdelwahab

while the __init__ method itself doesn't explicitly return anything, it sets up the initial state of the object, which is then returned as the instance of the class


The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [2]:
class X:

    def __init__(self, first, last): # run automatically
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.number= None
        # doesn't allow returnreturn

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

user_1 = X('Corey', 'Schafer') # user will be pass self
user_2 = X('Test', 'user')

print(user_2.fullname())
#type(X.fullname(user_2))

Test user

In [3]:
class X:
    num=6
    def __init__(s, first, last): # run automatically
        s.first = first
        s.last = last
        s.email = first + '.' + last + '@email.com'
        s.number= None
        # doesn't allow returnreturn

    def mathematicaloperation(self):
        return self.number*self.num


user_2 = X('Test', 'user')
user_2.number=5
print(user_2.number)
user_2.mathematicaloperation()

5

30

# Modify Object Properties

In [4]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(a):
    print("Hello my name is " + a.name)

p1 = Person("John", 36)
p1.myfunc()
del p1.age

Hello my name is John

In [5]:
class y:
    def __init__(self, name, age):
        self.name=name
        self.age=age+1

user_3=  y("mohamed",13)
print(user_3.age)

14

In [6]:
p1.age = 40
print(p1.age)

40

# inheritance


Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class


we can edit it without affecting the parent class

In [7]:
class Employee:

    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
        return int(self.pay * self.raise_amt)


dev_1 = Employee('Corey', 'Schafer', 50000)
dev_2 = Employee('Test', 'Employee', 60000)

dev_1.apply_raise()
#print(dev_2.email)

52000

In [8]:
class Employee:

    raise_amt = 1.04

    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.email = first + '.' + last + '@email.com'
        self.pay = pay

    def fullname(self):
        return '{} {}'.format(self.first, self.last)

    def apply_raise(self):
       print( int(self.pay * self.raise_amt))


class Developer(Employee):
    raise_amt = 1.10

    def __init__(self, first, last, pay, prog_lang):
        super().__init__(first, last, pay)
        self.prog_lang = prog_lang





dev_1 = Developer('Corey', 'Schafer', 50000, 'Python')
dev_2 = Developer('Test', 'Employee', 60000, 'Java')
print(dev_1.pay)
dev_1.apply_raise()

50000
55000

In [9]:
pip install pandas

Requirement already satisfied: pandas in c:\users\abdel\appdata\roaming\python\python311\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abdel\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\abdel\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\abdel\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\abdel\appdata\roaming\python\python311\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\abdel\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# pandas

Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

Pandas allows us to analyze big data and make conclusions based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in data science.

In [10]:
import pandas as pd 

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [11]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [12]:
data = {
  "calories": [420, 380, 390],
  "h": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
df

   calories   h
0       420  50
1       380  40
2       390  45

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [13]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

#print(df)

#refer to the row index:
#print(df.loc[0])

#use a list of indexes:
print(df.loc[[0,1,2 ]])

   calories  duration
0       420        50
1       380        40
2       390        45

In [14]:
print(df.iloc[1, 0])

380

# CSV

In [15]:
df = pd.read_csv('names.csv')

#print(df)

#print(df.head(6))
#print(df.tail(8)) 


print(df.info()) 

#print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  4 non-null      object
 1   last_name   4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes
None

# CSV library

In [16]:
import csv
with open('names.csv', 'w', newline='') as csvfile:
    fieldnames = ['first_name', 'last_name']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()

    writer.writerow({'first_name': 'Bark', 'last_name': 'Beans'})
    writer.writerow({'first_name': 'Bark', 'last_name': 'Beans'})
    writer.writerow({'first_name': 'Lovely', 'last_name': 'Spam'})
    writer.writerow({'first_name': 'Wonderful', 'last_name': 'Spam'})

In [17]:
x = [1,2,3,4,5,6,7,8,9,10] 
y = [11,12,13,14,15,16,17,18,19,20]

with open('numbers.csv', 'w', newline='') as csvfile:
    fieldnames = ['first_name', 'last_name']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()

    for i in range(len(x)):
        writer.writerow({'first_name': str(x[i]), 'last_name': str(y[i])})

In [18]:
x = pd.read_csv("numbers.csv")
x

   first_name  last_name
0           1         11
1           2         12
2           3         13
3           4         14
4           5         15
5           6         16
6           7         17
7           8         18
8           9         19
9          10         20

# last session Task solution

Square root is used because any factor greater than the square root cannot exist, since if ab = num, both a and b must be smaller than or equal to the square root

In [19]:
def check_prime(num):
  if num < 2:
    return False

  for i in range(2,int(num**0.5)+1): # 
    if num%i == 0:
      return False

  return True

x = int(input("Enter lower range: "))  
y = int(input("Enter upper range: "))

print("Prime numbers between", x, "and", y, "are:")

for num in range(x,y+1):
  
  if check_prime(num):
    print(num)

Prime numbers between 5 and 1 are:

In [20]:

def median_of_two_arrays(arr1, arr2):

  total = len(arr1) + len(arr2)
  arr1.extend(arr2)
  arr1.sort()

  mid_index = total//2

  if total % 2 == 0:
    median1 = arr1[mid_index-1]
    median2 = arr1[mid_index]
    median = (median1 + median2)/2
  else:  
    median = arr1[mid_index]

  return median
a = [1,2,3,4,5]
b = [6,7,8,9]
median_of_two_arrays(a,b)

5